<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Receipt</title>
        <style>
        .receipt-box {
            max-width: 1200px;
            margin: auto;
            padding: 10px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }
        
        .receipt-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }
        
        .receipt-box table td {
            padding: 5px;
            vertical-align: top;
        }
        
        .receipt-box table tr.top table td {
            padding-bottom: 20px;
        }
        
        .receipt-box table tr.top table td.title {
            font-size: 30px;
            line-height: 35px;
            color: #999;
            font-weight: 100;
        }
        
        .receipt-box table tr.information table td {
            padding-bottom: 40px;
        }
        
        .receipt-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }
        
        .receipt-box table tr.details td {
            padding-bottom: 20px;
        }
        
        .receipt-box table tr.item td{
            border-bottom: 1px solid #eee;
        }
        
        .receipt-box table tr.item.last td {
            border-bottom: none;
        }
        
        .receipt-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }
        
        @media only screen and (max-width: 600px) {
            .receipt-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }
            
            .receipt-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }
        
    
        </style>
    </head>

    <body>
        <div class="receipt-box">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="top">
                        <td colspan="3">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="logo"><img style="height: 100px; width: 100px;" src='<%=clientLogo%>' /></td>
                                        <!-- clientName -->
                                        <td class="title"><%=clientName%></td>
                                        <!-- receiptNumber  -->
                                        <td class="title"><%=receiptNumber%></td>
                                        <!-- fileName  -->
                                        <td>Receipt #: <%=fileName%><br /> 
                                            Date: #
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="information">
                        <!-- amount  -->
                        <td colspan="2">Amount: <%=amount%></td>
                    </tr>
                        <tr class="heading">
                        <!-- description  -->
                        <td colspan="2">Details: <%=description%></td>
                    </tr>
                    <tr class="details">
                        <td colspan="2">
                            <p>#</p>
                        </td>
                    </tr>
                    <tr class="details">
                        <td colspan="2">
                            <p>Powered by valueads. <br/> Thank you!</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>